* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background: linear-gradient(135deg, #FF7F50, #6A5ACD, #FF7F50);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.titulo {
    display: inline;
    margin: 10px;
    font-size: 30px;
}

.descricao {
    width: 600px;
    margin: 25px;
    padding: 15px;
    font-size: 25px;
}

.lista {
    margin: 15px;
    padding: 20px;
    font-size: 25px;
    max-width: 1200px;
}

img {
    width: 60%;
    height: auto;
    border-radius: 20px;
    margin: 40px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.card {
    display: flex;
    align-items: center;
    gap: 25px;
}

.curiosidades {
    font-size: 25px;
    font-weight: bold;
    max-width: 800px;
    margin: 10px;
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}

.mais {
    margin: 15px;
    padding: 20px;
    font-size: 30px;
    max-width: 900px;
}